.calculactorCont {
  border: 1px solid black;
  width: 30%;
  margin: auto;
  padding: 20px 10px;
  background-color: black;
}

.calculactorCont div > button {
  font-size: 25px;
  padding: 1.5vw 0;
  width: 6vw;
  margin: 0.5vw;
  cursor: pointer;
  font-weight: 700;
  border: none;
}

.calculactorCont div > input {
  width: 25.5vw;
  padding: 15px 10px;
  font-size: 25px;
  border: 2px solid black;
  outline: none;
  text-align: right;
}

.equalBtn {
  background-color: #ef7624;
  color: white;
}

/* Extra small devices (phones, 550px and down) */
@media only screen and (max-width: 550px) {
  .calculactorCont {
    border: 1px solid black;
    width: 70%;
    margin: auto;
  }

  .calculactorCont div > button {
    font-size: 25px;
    padding: 5vw 0;
    width: 15vw;
  }

  .calculactorCont div > input {
    width: 59vw;
    padding: 15px 10px;
    font-size: 25px;
  }
}
